*{
  margin: 0;
}

body{
  background-color: $color-primario;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d2878e'/%3E%3Cstop offset='1' stop-color='%23d2878e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ebb0b8'/%3E%3Cstop offset='1' stop-color='%23ebb0b8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23da5f6a'/%3E%3Cstop offset='1' stop-color='%23da5f6a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ECCFD3'/%3E%3Cstop offset='1' stop-color='%23ECCFD3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23B74046'/%3E%3Cstop offset='1' stop-color='%23B74046' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F08B99'/%3E%3Cstop offset='1' stop-color='%23F08B99' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;  
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}
html{
  overflow-x: hidden;
}

/*Navbar*/
#navbar{
  &, #nav-inicio{
    animation: slide-in-top 0.4s both;
    background-color: $color-terciario-ligero;
    border-bottom: 2px solid $color-terciario;
  }
  &--logo{
    transition: transform .5s;
    &:hover{
      transition: transform .5s;
      transform:scale(1.2);
    }
  }
  &--link{
    transition: transform .5s;
    &:hover{
      transition: transform .5s;
      transform:scale(1.2);
    }
    &--seleccionado{
      color: $color-terciario-fuerte;
      text-decoration: underline;
      text-underline-offset:5px;
    }
  }
  &--dropdown{
    transition: transform .5s;
    &:hover{
      transition: transform .5s;
      transform:scale(1.2);
    }
  }
}
.dropdown-menu{
  background-color: $color-terciario-ligero;
}
/*Fin navbar*/

/*Logo de whatsapp*/
#wpp{
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform .5s;
  &:hover{
    transition: transform .5s;
    transform: scale(1.2)
  }
}
/*Fin wpp*/

/*Titulos*/
#titulo{
  @include texto-importante;
  font-size: 3em;
  margin-top: 20vh;
  margin-bottom: 5vh;
}
/*Fin titulos*/

/*Galeria*/
#fotos-galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.foto {
  max-height: 350px;
  margin: 2%;
  transition: transform .5s;
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.2);
  &:hover{
    transition: transform .5s;
    transform: scale(1.2)
  }
}
/*Fin galeria*/

/*Productos*/
.nombre{
  @include texto-importante;
}
.descripcion{
  @include texto;
}
.precio{
  @extend .descripcion;
  font-weight: map-get($font-weights, "thin" );
}

#productos{
  &--item{
    & .card{
      border: 3px solid $color-terciario;
    }
    & .card-body{
      background-color: $color-terciario-ligero;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &--button{
    z-index: 2;
    position:relative;
    color: white;
    background-color: $color-terciario;
    transition: background-color .8s;
    &:hover{
      transition: background-color .8s;
      background-color:$color-terciario-fuerte;
    }
  }
  &--fondo{
    z-index: 1;
    position:absolute;
    height: 100%;
    width: 100%;
    transition: background-color .8s;
    &:hover{
      transition: background-color .8s;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
/*Fin productos*/

/*FAQS*/
#faqs{
  margin: auto 5%;
  background-color: $color-terciario;
  &--title{
    @include texto-importante;
    font-size: 1rem;
  }
  &--answer{
    @extend .descripcion;
  }
}

.accordion-item{
  background-color: $color-terciario-ligero;
}
.accordion-button{
  background-color: $color-terciario;
  &:not(.collapsed){
    background-color: $color-terciario;
  }
}
/*Fin FAQS*/

/*Contacto*/
#contacto{
  margin: auto 5%;
  &--title{
    @include texto;
  }
  &--button{
    @include texto;
    color: white;
    background-color: $color-terciario;
    transition: background-color .8s;
    &:hover{
      transition: background-color .8s;
      background-color:$color-terciario-fuerte;
    }
  }
}
.form-control{
  background-color: $color-terciario-ligero;
}
.accordion-button:not(.collapsed)::after {
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%74060629'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
/*Fin contacto*/

/*Footers*/
#prefooter{
  text-align: center;
  margin: 30px 0;
  &--title{
    @include texto-importante;
    font-size: 1em
  }
  &--description{
    @include texto;
    font-size: .7em;
  }
}
#footer{
  background-color: rgba(0, 0, 0, 0.1);  
}
/*Fin footers*/

/*Index*/
#inicio{
  & .card{
    border: 3px solid $color-terciario;
    border-radius: 8px;
  }
  &--producto{
    transition: transform .8s;
    &:hover{
      transition: .5s;
      transform: scale(1.05);
    }
  }
  &--nombre{
    @include texto-importante;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    font-size: 1em;
  }
  &--imagen{
    padding: 5%;
    box-sizing: border-box;
    width: 90vw;
  }
}
/*Fin index*/